* { 
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px auto;
}

.title {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px 60px auto 150px;
}

.grid-container > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
}

#player-turn {
    display: grid;
    justify-content: center;
    align-content: end;
}

#game-container {
    display: grid;
}

#game-container button {
    display: grid;
    height: 20px;
    width: 60px;
    justify-self: center;
    align-self: end;
    position: relative;
    left: 120px;
    top: 20px;
}

#container {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: 1px solid black;
}

#winner {
    display: grid;
    justify-content: center;
    align-content: center;
}