* { 
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 80px auto;
    background-color: lightyellow;
}

.title {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-rows: 50px 60px auto 150px;
}

.grid-container > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    font-size: 18px;
}

#player-turn {
    display: grid;
    justify-content: center;
    align-content: end;
}

#game-container {
    display: grid;
}

#game-container button {
    display: grid;
    height: 22px;
    width: 60px;
    justify-self: center;
    align-self: end;
    align-content: center;
    position: relative;
    left: 120px;
    top: 20px;
}

button {
    height: 22px;
    width: 60px;
    font-weight: 700;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 4px;
}

input {
    height: 16px;
    font-size: 15px;
}

#container {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    border: 1px solid black;
}

#container > div {
    display: grid;
    text-align: center;
    align-items: center;
    font-size: 40px;
    background-color: white;
}

#winner {
    display: grid;
    justify-content: center;
    align-content: center;
}